<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">
        <img src="/images/heart-of-cards-logo.png" class="hotc-logo" alt="">
      </a>
      <ul class="nav-fill navbar-nav mr-auto mt-2 mt-lg-0">

        <% if (page_name === 'gamecentre') { %>
          <li class="nav-item ">
            <a href="/gamecentre" class="nav-link active">Gamecentre</a>
          </li>
        <% } else { %>
           <li class="nav-item ">
            <a href="/gamecentre" class="nav-link">Gamecentre</a>
          </li>
        <% } %>

        <% if (page_name === 'game') { %>
          <li class="nav-item active">
            <a href="/game" class="nav-link">Game</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/game" class="nav-link">Game</a>
          </li>
        <% } %>

        <% if (page_name === 'leaderboard') { %>
          <li class="nav-item active">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/leaderboard" class="nav-link">Leaderboard</a>
          </li>
        <% } %>

        <% if (page_name === 'archive') { %>
          <li class="nav-item active">
            <a href="/archive" class="nav-link">Archive</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/archive" class="nav-link">Archive</a>
          </li>
        <% } %>
      </ul>
      <button class="float-right btn btn-warning notify-turn">Notifications</button>

    </div>
  </nav>
</header>
