<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="deck-of-cards/example/example.css" type="text/css">


    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

    <title>Heart of the Cards | Game Play </title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/">
            <img src="/images/heart-of-cards-logo.png" class="hotc-logo" alt="">
          </a>
          <ul class="nav-fill navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a href="/gamecentre" class="nav-link">Gamecentre</a>
            </li>
            <li class="nav-item">
              <a href="/game" class="nav-link">Game</a>
            </li>
            <li class="nav-item">
              <a href="/leaderboard" class="nav-link">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a href="/archive" class="nav-link">Archive</a>
            </li>
          </ul>
          <button class="float-right btn btn-warning notify-turn">Notifications</button>

        </div>
      </nav>
    </header>
    <main class="container-fluid">
      <article style="display: flex;flex-direction: row;">
        <div id="game-play"></div>
        <div class="card clubs rank1 cc-r1" data-value="1"> <div class="face"></div></div>
        <div class="card clubs rank2 cc-r2" data-value="2"><div class="face"></div></div>
        <div class="card clubs rank3 cc-r3" data-value="3"><div class="face"></div></div>
        <div class="card clubs rank4 cc-r4" data-value="4"><div class="face"></div></div>
        <div class="card clubs rank5 cc-r5" data-value="5"><div class="face"></div></div>
        <div class="card clubs rank6 cc-r6" data-value="6"><div class="face"></div></div>
        <div class="card clubs rank7 cc-r7" data-value="7"><div class="face"></div></div>
        <div class="card clubs rank8 cc-r8" data-value="8"><div class="face"></div></div>
        <div class="card clubs rank9 cc-r9" data-value="9"><div class="face"></div></div>
        <div class="card clubs rank10 cc-r10" data-value="10"><div class="face"></div></div>
        <div class="card clubs rank11 cc-r11" data-value="11"><div class="face"></div></div>
        <div class="card clubs rank12 cc-r12" data-value="12"><div class="face"></div></div>
        <div class="card clubs rank13 cc-r13"data-value="13"><div class="face"></div></div>
      </article>
      <article>
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" style="position: absolute; top: 0; right: 0;">
          <!-- <div class="toast-header">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div class="toast-body">
            Hello, world! This is a toast message.
          </div>
        </div>
      </div>
      </article>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="deck-of-cards/dist/deck.min.js"></script>

    <script>
      // Instantiate a deck
      var deck = Deck();
      console.log(deck);

      // display it in a html container
      var $container = document.getElementById('game-play');
      // deck.mount($container);

      // Select the first card
      var card = deck.cards[0];

      // Add it to an html container
      // card.mount($container);

      // deck.bysuit();
      // card.flip();

      deck.cards.forEach(function (card){
        card.enableDragging();
        card.enableFlipping();
      })
    </script>

    <script>
      // Identify the IP address and PORT that a socket will connect to.
      const socket = io.connect('http://172.46.2.110:8080');

      socket.on('welcome', function (message) {
        console.log(JSON.parse(message)['message']);
      });

      socket.on('player1turn', function (message) {
        console.log(message)

        $('.card').click(function (event) {
          event.preventDefault();
          socket.emit('card-pick', $(this).html(), function () {
            // console.log(`You've selected ${$(this)}`)
            $('button').hide();
          })
        })


      })



      // socket.emit ('cardselect', process.argv)
      // socket.on('cardselect', function (arg) {

      // })
    </script>
    <script>
    $(document).ready(function(){
      function gameTurn() {
        $(".notify-turn").click(function(){
          $('.toast').toast('show', 10000);
        });
      }
      gameTurn();
    });
    </script>
  </body>
</html>

