<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/example/example.css" type="text/css">


    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

    <title>Heart of the Cards | Game Play </title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <main class="container-fluid game">
      <article class="player1-cards">
        <div class="card p1-r1" data-value="1"> <div class="back"></div></div>
        <div class="card p1-r2" data-value="2"><div class="back"></div></div>
        <div class="card p1-r3" data-value="3"><div class="back"></div></div>
        <div class="card p1-r4" data-value="4"><div class="back"></div></div>
        <div class="card p1-r5" data-value="5"><div class="back"></div></div>
        <div class="card p1-r6" data-value="6"><div class="back"></div></div>
        <div class="card p1-r7" data-value="7"><div class="back"></div></div>
        <div class="card p1-r8" data-value="8"><div class="back"></div></div>
        <div class="card p1-r9" data-value="9"><div class="back"></div></div>
        <div class="card p1-r10" data-value="10"><div class="back"></div></div>
        <div class="card p1-r11" data-value="11"><div class="back"></div></div>
        <div class="card p1-r12" data-value="12"><div class="back"></div></div>
        <div class="card p1-r13"data-value="13"><div class="back"></div></div>
      </article>
      <article id="game-play"></article>
      <article class="player2cards">
        <div class="card clubs rank1 p2-r1" data-value="1"> <div class="face"></div></div>
        <div class="card clubs rank2 p2-r2" data-value="2"><div class="face"></div></div>
        <div class="card clubs rank3 p2-r3" data-value="3"><div class="face"></div></div>
        <div class="card clubs rank4 p2-r4" data-value="4"><div class="face"></div></div>
        <div class="card clubs rank5 p2-r5" data-value="5"><div class="face"></div></div>
        <div class="card clubs rank6 p2-r6" data-value="6"><div class="face"></div></div>
        <div class="card clubs rank7 p2-r7" data-value="7"><div class="face"></div></div>
        <div class="card clubs rank8 p2-r8" data-value="8"><div class="face"></div></div>
        <div class="card clubs rank9 p2-r9" data-value="9"><div class="face"></div></div>
        <div class="card clubs rank10 p2-r10" data-value="10"><div class="face"></div></div>
        <div class="card clubs rank11 p2-r11" data-value="11"><div class="face"></div></div>
        <div class="card clubs rank12 p2-r12" data-value="12"><div class="face"></div></div>
        <div class="card clubs rank13 p2-r13"data-value="13"><div class="face"></div></div>
      </article>
      <article>
        <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast" style="position: absolute; top: 0; right: 0;">
          <div class="toast-body">
            Hello, world! This is a toast message.
          </div>
        </div>
      </div>
      </article>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="deck-of-cards/dist/deck.min.js"></script>

    <script>
      // Instantiate a deck
      var deck = Deck();
      console.log(deck);

      // display it in a html container
      var $container = document.getElementById('game-play');
      deck.mount($container);

      // Select the first card
      var card = deck.cards[0];

      // Add it to an html container
      // card.mount($container);

      // deck.bysuit();
      // card.flip();

      // deck.cards.forEach(function (card){
      //   card.enableDragging();
      //   card.enableFlipping();
      // })
    </script>

    <script>
      // Identify the IP address and PORT that a socket will connect to.
      const socket = io.connect('localhost:8081');

      // Handler function for receiving player info assignment messages
      socket.on('connect', function () {
        socket.emit('socketAssignment')
      })

      // Handler function for welcome message
      socket.on('welcome', function (message) {
        console.log(JSON.parse(message));
      });

      // Handler function for choice message
      socket.on('pleaseChoose', function (message) {
        console.log(message)
        $('.card').click(function (event) {
          event.preventDefault()
          $(this).hide();
          socket.emit('cardChoice', $(this).data('value'))
          $('.card').off('click');
        })
      })

      socket.on('Selected', function () {
        console.log('Thank you. Please wait for your opponent to select a card.')
      })

      socket.on('lose', function (message) {
        console.log(message);
      })

      socket.on('win', function (message) {
        console.log(message);
      })

      socket.on('draw', function (message) {
        console.log(message);
      })

      socket.on('endgame', function (message) {
        console.log(message)
      })

      socket.on('drawgame', function (message) {
        console.log(message)
      })
/*
      socket.on('player1turn', function (message) {
        console.log(message)
        $('.card').click(function (event) {
          event.preventDefault()
          console.log('Click detected. The card picked is a', $(this).data('value'))
          $(this).hide();
          socket.send($(this).data('value'))
        })
      })
*/





      // socket.emit ('cardselect', process.argv)
      // socket.on('cardselect', function (arg) {

      // })
    </script>

    <script>
    $(document).ready(function(){
      function gameTurn() {
        $(".notify-turn").click(function(){
          $('.toast').toast('show', 50000);
        });
      }
      gameTurn();
    });
    </script>
  </body>
</html>

