<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/example/example.css" type="text/css">


    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

    <title>Heart of the Cards | Game Play </title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <main class="container-fluid game">
      <article class="player1-cards">
        <div class="card p1-r1" data-value="1"> <div class="back"></div></div>
        <div class="card p1-r2" data-value="2"><div class="back"></div></div>
        <div class="card p1-r3" data-value="3"><div class="back"></div></div>
        <div class="card p1-r4" data-value="4"><div class="back"></div></div>
        <div class="card p1-r5" data-value="5"><div class="back"></div></div>
        <div class="card p1-r6" data-value="6"><div class="back"></div></div>
        <div class="card p1-r7" data-value="7"><div class="back"></div></div>
        <div class="card p1-r8" data-value="8"><div class="back"></div></div>
        <div class="card p1-r9" data-value="9"><div class="back"></div></div>
        <div class="card p1-r10" data-value="10"><div class="back"></div></div>
        <div class="card p1-r11" data-value="11"><div class="back"></div></div>
        <div class="card p1-r12" data-value="12"><div class="back"></div></div>
        <div class="card p1-r13"data-value="13"><div class="back"></div></div>
      </article>
      <article id="game-play"></article>
      <article class="player2-cards">
        <div class="card rank1 p2-r1" data-value="1"> <div class="face"></div></div>
        <div class="card rank2 p2-r2" data-value="2"><div class="face"></div></div>
        <div class="card rank3 p2-r3" data-value="3"><div class="face"></div></div>
        <div class="card rank4 p2-r4" data-value="4"><div class="face"></div></div>
        <div class="card rank5 p2-r5" data-value="5"><div class="face"></div></div>
        <div class="card rank6 p2-r6" data-value="6"><div class="face"></div></div>
        <div class="card rank7 p2-r7" data-value="7"><div class="face"></div></div>
        <div class="card rank8 p2-r8" data-value="8"><div class="face"></div></div>
        <div class="card rank9 p2-r9" data-value="9"><div class="face"></div></div>
        <div class="card rank10 p2-r10" data-value="10"><div class="face"></div></div>
        <div class="card rank11 p2-r11" data-value="11"><div class="face"></div></div>
        <div class="card rank12 p2-r12" data-value="12"><div class="face"></div></div>
        <div class="card rank13 p2-r13"data-value="13"><div class="face"></div></div>
      </article>
      <!-- <article>
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" style="z-index: 1;">
          <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div class="toast-body"></div>
        </div>
      </article>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="deck-of-cards/dist/deck.min.js"></script>
    <script>

      $(document).ready(function(){

        // Identify the IP address and PORT that a socket will connect to.

        const socket = io.connect('http://localhost:8080');



        function showNotification () {
          $('.toast').toast('show');
        }

        function hideNotification() {
          $('.toast').toast('hide');
        }

        // Handler function for receiving player info assignment messages
        socket.on('connect', function () {
          socket.emit('socketAssignment')
        })

        socket.on('pending', function (message) {
          $('.toast .toast-body').append(message)
          showNotification();
        })

        socket.on('foundopponent', function (message) {

          $('.toast .toast-body').empty().append(message);

          showNotification();
        })

        socket.on('removeCard', function()
          {
            $('#game-play > div:last-of-type').remove();
          });

        // Handler function for welcome message
        socket.on('welcome', function (playerOneSuit, playerTwoSuit, prizeSuit, prizeCards) {

          $('.player1-cards > div').addClass(playerOneSuit);
          $('.player2-cards > div').addClass(playerTwoSuit);

          for (let i = 0; i < 13; i++)
          {
            $('#game-play').append(`<div class="card rank${prizeCards[i]} ${prizeSuit}" data-value="${prizeCards[i]}"><div class="face"></div></div>`);
          }

          $('#game-play').append('<div></div>');

        });

        // socket.on('removeCard', function()
        // {
        //   $('#game-play > div:last-of-type').remove();
        // })

        // Handler function for choice message
        socket.on('pleaseChoose', function (message, gameID) {

            $('.toast .toast-body').empty().append(message);
            showNotification();

            $('.player2-cards .card').click(function (event) {
              event.preventDefault();
              $('.card').off('click');
              $(this).hide();
              socket.emit('cardChoice', $(this).data('value'), gameID);
            })
        })

        socket.on('notDraw', function (message) {
          $('.toast .toast-body').empty().append(message);
          showNotification();
        })

        socket.on('draw', function (message) {
          $('.toast .toast-body').empty().append(message);
          showNotification();
        })

        socket.on('endgame', function (message) {
          $('.toast .toast-body').empty().append(message);
          showNotification();
        })

        socket.on('drawgame', function (message) {
          $('.toast .toast-body').empty().append(message);
          showNotification();
        })

      });
    </script>

  </body>
</html>

