body {
  background-color: #0F633F;
  color: #041021;
  font-family: 'Bitter', serif;
  font-size: 16px;

  nav {
    background-color: #EEF2F4;
    -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);

    .hotc-logo {
      max-width: 100px;
      width: 100%;
      padding-left: 1em;
    }
  }

  main {
    padding: 0 1em 0 1em;

    &.login {

      .hp-logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
      }

      .hp-logo {
        max-width: 250px;
        width: 100%;
      }

      .coh-home {

        .card {
          background-color: #EEF2F4;
          border-radius: 15px 0;
          border-radius: none;
          width: 70%;
          margin: 0 auto;
          padding: 1.5em;
        }
      }
    }

    &.game-centre {
      margin-top: 8em;

      .jumbotron {
        border-radius: 15px 0;
      }
    }

    &.game {

      .p2-r1 {
        transform: translate(-540px, 200px);
        z-index: 26;
      }
      .p2-r2 {
        transform: translate(-450px, 200px);
        z-index: 27;
      }
      .p2-r3 {
        transform: translate(-360px, 200px);
        z-index: 28;
      }
      .p2-r4 {
        transform: translate(-270px, 200px);
        z-index: 29;
      }
      .p2-r5 {
        transform: translate(-180px, 200px);
        z-index: 30;
      }
      .p2-r6 {
        transform: translate(-90px, 200px);
        z-index: 31;
      }
      .p2-r7 {
        transform: translate(0px, 200px);
        z-index: 32;
      }
      .p2-r8 {
        transform: translate(90px, 200px);
        z-index: 33;
      }
      .p2-r9 {
        transform: translate(180px, 200px);
        z-index: 34;
      }
      .p2-r10 {
        transform: translate(270px, 200px);
        z-index: 35;
      }
      .p2-r11 {
        transform: translate(360px, 200px);
        z-index: 36;
      }
      .p2-r12 {
        transform: translate(450px, 200px);
        z-index: 37;
      }
      .p2-r13 {
        transform: translate(540px, 200px);
        z-index: 72;
      }

      .p1-r1 {
        transform: translate(-540px, -200px);
        z-index: 26;
      }
      .p1-r2 {
        transform: translate(-450px, -200px);
        z-index: 27;
      }
      .p1-r3 {
        transform: translate(-360px, -200px);
        z-index: 28;
      }
      .p1-r4 {
        transform: translate(-270px, -200px);
        z-index: 29;
      }
      .p1-r5 {
        transform: translate(-180px, -200px);
        z-index: 30;
      }
      .p1-r6 {
        transform: translate(-90px, -200px);
        z-index: 31;
      }
      .p1-r7 {
        transform: translate(0px, -200px);
        z-index: 32;
      }
      .p1-r8 {
        transform: translate(90px, -200px);
        z-index: 33;
      }
      .p1-r9 {
        transform: translate(180px, -200px);
        z-index: 34;
      }
      .p1-r10 {
        transform: translate(270px, -200px);
        z-index: 35;
      }
      .p1-r11 {
        transform: translate(360px, -200px);
        z-index: 36;
      }
      .p1-r12 {
        transform: translate(450px, -200px);
        z-index: 37;
      }
      .p1-r13 {
        transform: translate(540px, -200px);
        z-index: 72;
      }

      article.player1 {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        width:  100%;
      }
      article.player2 {
        display: flex;
        flex-direction: row;
      }

      article.player1 .card {
        top: 20%;
        left: 30%;
      }

      article.player2 .card {
        top: 60%;
        left: 30%;
      }

    }

    &.leaderboard {
      background: white;
    }

    &.archive {

      article {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex: 1 1 auto;

        .card {
          width: 350px;
          max-height: 175px;
          margin: 10px;
          text-align: center;
        }
      }
    }
  }
}
