body {
  background-color: #0F633F;
  color: #041021;
  font-family: "Bitter", serif;
  font-size: 16px;
}
body nav {
  background-color: #EEF2F4;
  -webkit-box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.75);
}
body nav .hotc-logo {
  max-width: 100px;
  width: 100%;
  padding-left: 1em;
}
body main {
  padding: 0 1em 0 1em;
}
body main.login .hp-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
body main.login .hp-logo {
  max-width: 250px;
  width: 100%;
}
body main.login .coh-home .card {
  background-color: #EEF2F4;
  border-radius: 15px 0;
  border-radius: none;
  width: 70%;
  margin: 0 auto;
  padding: 1.5em;
}
body main.game-centre {
  margin-top: 8em;
}
body main.game-centre .jumbotron {
  border-radius: 15px 0;
}
body main.game .p2-r1 {
  transform: translate(-540px, 200px);
  z-index: -1;
}
body main.game .p2-r2 {
  transform: translate(-450px, 200px);
  z-index: -1;
}
body main.game .p2-r3 {
  transform: translate(-360px, 200px);
  z-index: -1;
}
body main.game .p2-r4 {
  transform: translate(-270px, 200px);
  z-index: -1;
}
body main.game .p2-r5 {
  transform: translate(-180px, 200px);
  z-index: -1;
}
body main.game .p2-r6 {
  transform: translate(-90px, 200px);
  z-index: -1;
}
body main.game .p2-r7 {
  transform: translate(0px, 200px);
  z-index: -1;
}
body main.game .p2-r8 {
  transform: translate(90px, 200px);
  z-index: -1;
}
body main.game .p2-r9 {
  transform: translate(180px, 200px);
  z-index: -1;
}
body main.game .p2-r10 {
  transform: translate(270px, 200px);
  z-index: -1;
}
body main.game .p2-r11 {
  transform: translate(360px, 200px);
  z-index: -1;
}
body main.game .p2-r12 {
  transform: translate(450px, 200px);
  z-index: -1;
}
body main.game .p2-r13 {
  transform: translate(540px, 200px);
  z-index: -1;
}
body main.game .p1-r1 {
  transform: translate(-540px, -200px);
  z-index: -1;
}
body main.game .p1-r2 {
  transform: translate(-450px, -200px);
  z-index: -1;
}
body main.game .p1-r3 {
  transform: translate(-360px, -200px);
  z-index: -1;
}
body main.game .p1-r4 {
  transform: translate(-270px, -200px);
  z-index: -1;
}
body main.game .p1-r5 {
  transform: translate(-180px, -200px);
  z-index: -1;
}
body main.game .p1-r6 {
  transform: translate(-90px, -200px);
  z-index: -1;
}
body main.game .p1-r7 {
  transform: translate(0px, -200px);
  z-index: -1;
}
body main.game .p1-r8 {
  transform: translate(90px, -200px);
  z-index: -1;
}
body main.game .p1-r9 {
  transform: translate(180px, -200px);
  z-index: -1;
}
body main.game .p1-r10 {
  transform: translate(270px, -200px);
  z-index: -1;
}
body main.game .p1-r11 {
  transform: translate(360px, -200px);
  z-index: -1;
}
body main.game .p1-r12 {
  transform: translate(450px, -200px);
  z-index: -1;
}
body main.game .p1-r13 {
  transform: translate(540px, -200px);
  z-index: -1;
}
body main.game article.player1 {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
}
body main.game article.player2 {
  display: flex;
  flex-direction: row;
}
body main.game article.player1 .card {
  top: 20%;
  left: 30%;
}
body main.game article.player2 .card {
  top: 60%;
  left: 30%;
}
body main.game .hide {
  display: none;
}
body main.leaderboard {
  background: white;
}
body main.archive article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 auto;
}
body main.archive article .card {
  width: 350px;
  max-height: 175px;
  margin: 10px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
